# Data Sciense Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries used in Data Sciense
- Create markdowns with lists, tables and text formats

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. SQL
5. C

Some of the commonly used libraries used by Data Scientists include:
- NumPy
- Matplotlib 
- Pandas

| Data Science Tools |
-----
| JupyterLab |
| RStudio |
| IBM Watson Studio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Ramón Díaz